* {
	font-family: "Georgia", serif;
}

.open-hours-row h3 {
	margin-bottom: 15px;
}

.open-hours-row {
	background-color: red;
	color: white;
	margin-top: 30px;
}

.col-md-6 p {
	color: black;
	font-size: 15pt;
	margin-left: 40px;
}

.navbar-header img {
	margin-left: 100px;
	margin-top: -20px;

}

.collapse {
	margin-top: 30px;
	font-size: 12pt;
}

.navbar {
	background-color: black;
	height: 100px;

}

/*.menupdf {
	font-family: "helvetica";
	height: 15px;
	width: 40px;
	background-color: red;
	color: white;
}*/

